* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  margin-bottom: 20rem;
}

h1 {
  font-size: 5vh;
  font-weight: bolder;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42vh, 1fr));
}

.bio-image-wrapper {
  display: block;
  
  position: relative;

  cursor: pointer;

  gap: 1vw;
}

.bio-image-wrapper > img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;

  margin: auto;
  text-align: center;

  object-fit: cover;
  object-position: center;
}

.bio-image-wrapper > .description {
  position: absolute;

  inset: 0;

  font-size: 2rem;

  background-color: rgba(255,255,255,.4);

  display: flex;
  justify-content: center;
  align-items: center;
}