* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 3vw;
  margin-bottom: 20rem;
}

h1 {
  font-size: 5vh;
  font-weight: bolder;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42vh, 1fr));
  
  gap: 1.5vw;
}

.bio-image-wrapper {
  position: relative;

  overflow: hidden;

  cursor: pointer;
}

.bio-image-wrapper > img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;

  object-fit: cover;
  object-position: center;
}

.bio-image-wrapper > .description {
  position: absolute;

  inset: 0;

  font-size: 2rem;

  background-color: rgba(255,255,255,.4); 
  
  margin: auto;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-image-wrapper > img, .bio-image-wrapper > .description {
  transition: 200ms ease-in-out;
}

/* Blur Animation */
.bio-image-wrapper:hover > img.blur {
  filter: blur(5px);
}

/* Text Animation Transition */
.bio-image-wrapper > .description.fade {
  opacity: 0;
}

.bio-image-wrapper:hover > .description.fade {
  opacity: 1;
}

/* Zoom Animation */
.bio-image-wrapper:hover > img.zoom {
  transform: scale(1.1);
}

/* Slide to the right animation */
.bio-image-wrapper > .description.slide-right {
  transform: translate(-100%);
}

.bio-image-wrapper:hover > .description.slide-right {
  transform: translate(0);
}

/* Slide to the left animation */
.bio-image-wrapper > .description.slide-left {
  transform: translate(100%);
}

.bio-image-wrapper:hover > .description.slide-left {
  transform: translate(0);
}
