* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  margin-bottom: 20rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, (minmax(42vh, 1fr)));
}

.bio-image-wrapper {
  display: block;
  
  position: relative;

  cursor: pointer;

  gap: 1vw;
}

.bio-image-wrapper > img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;

  margin: auto;
  text-align: center;

  object-fit: cover;
  object-position: center;
}